{% extends 'user/base.html' %}
{% block content %}

<div class="container">

{% if user.is_authenticated %}
<!-- <a href="{% url 'blog' %}"><button type="submit">Create Blog</button></a> -->
{% for items in current %}
<div class=" link">
<a id="link" href="{% url 'details' items.id %}">{{items.title}}</a>
</div>
{%if items.blog_pic%}
  <img class="img-thumbnail blogPic" src="{{ items.blog_pic.url|default_if_none:'#'}}">
{%endif%}
<p id="dec">{{items.description|truncatechars:100}}</p>

<h6>Created on {{items.created}} By {{items.user}}</h6>
<hr>
{% endfor %}

{% else %}
<h2>Please Login First</h2>
{% endif %}

</div>
{% endblock %}
